
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px;
    padding-top: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h4{
    color: #14568f;
}
h3
{color: rgb(180, 71, 71);
}
h1 {
    text-align: center;
  padding-bottom: 20px;

    color: #e0219d;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #fff;
    color: #333;
}

.team {
    font-weight: bold;
    color: #1e58bb;
    font-size: 18px;
}

.win {
    color: green;
    font-weight: bold;
}

.loss {
    color: red;
    font-weight: bold;
}

.tie {
    color: blue;
    font-weight: bold;
}

input[type="number"] {
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"], button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background-color: #1e58bb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover, button:hover {
    background-color: #14568f;
}